{% extends "base.html" %}

{% block title %} Cadams - Log In {% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Log In</h1>
    </div>
    <div class="container">
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.username.label(class="form-label") }} {{ form.username(class="form-control") }}
            {{ form.password.label(class="form-label") }} {{ form.password(class="form-control") }}
            {{ form.remember_me.label(class="form-label") }} {{ form.remember_me(class="form-check") }}
            {{ form.submit(class="btn-primary")}}
        </form>
    </div>
    <p>
        Need to register?
        <a href="{{ url_for('auth.register') }}">Sign up here</a>
    </p>
 {% endblock %}
