{% extends "base/bootstrap-base.html" %}

{% block title %}Cadams{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<script src="https://kit.fontawesome.com/ad6f9e19bd.js" crossorigin="anonymous"></script>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('main.index') }}">
          <img src="{{ url_for('static', filename='favicon.ico') }}" alt="" width="30" height="30" class="d-inline-block align-text-center">
          Cadams</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('main.index') }}">Home</a>
          </li>
          {% if current_user.is_authenticated and current_user.role_id == 3 %}
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{ url_for('admin.index') }}">Admin</a>
            </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Projects
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><p class="dropdown-header">Algorithmic Trading</p></li>
              <li><a class="dropdown-item" href="{{ url_for('trading.trading_ideas') }}">Trading Ideas</a></li>
              <li><a class="dropdown-item" href="{{ url_for('trading.sample_stocks') }}">Sample Stocks</a></li>
              {% if current_user.is_authenticated %}
              <li><a class="dropdown-item" href="{{ url_for('trading.stocks') }}">My Stocks</a></li>
              {% endif %}
              <li><hr class="dropdown-divider"></li>
              <li><p class="dropdown-header">Other</p></li>
              <li><a class="dropdown-item" href="#">Coming soon</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ url_for('api.doc') }}" target="_blank">API</a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('auth.register') }}" class="nav-link">sign up</a>
          </li>
          <li class="nav-item">
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('auth.logout') }}" class="btn btn-primary" role="button">Log Out</a>
        {% else %}
            <a href="{{ url_for('auth.login') }}" class="btn btn-primary" role="button">Log In</a>
        {% endif %}
      </li>
        </ul>

      </div>
    </div>
  </nav>
{% endblock %}

{% block content %}
<div class="container">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      {{ message }}
  </div>
  {% endfor %}

  {% block page_content %}
  {% endblock %}
</div>

{% endblock %}
{% block footer %}
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="text-muted">© 2023 Cadams</span>
    </div>

    <ul class="nav col-md-1 justify-content-evenly  align-items-center d-flex">
      <a href="https://uk.linkedin.com/in/chris-adams-b88557b3" class="text-muted text-decoration-none">
        <i class="fa-brands fa-linkedin fa-xl"></i>
      </a>
      <a href="https://github.com/ChrisA87" class="text-muted text-decoration-none">
        <i class="fa-brands fa-github fa-xl"></i>
      </a>
      <a href="https://stackoverflow.com/users/10201580/chris-adams" class="text-muted text-decoration-none">
        <i class="fa-brands fa-stack-overflow fa-xl"></i>
      </a>
    </ul>
  </footer>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
