bokeh~=3.1.0
email_validator~=2.0.0
flask~=2.2.5
flask-admin~=1.6.1
flask-debugtoolbar~=0.13.1
flask-login~=0.6.2
flask-mail~=0.9.1
flask-migrate~=4.0.4
flask-restx~=1.1.0
flask-sqlalchemy~=2.5.1
flask-wtf~=1.1.1
gunicorn~=20.1.0
matplotlib~=3.7.1
nltk~=3.8.1
numpy~=1.24.3
pandas~=2.0.1
pandas-datareader~=0.10.0
pillow~=9.5.0
pydantic~=1.10.7
pymysql~=1.0.3
sendgrid~=6.10.0
werkzeug~=2.3.4
yfinance~=0.2.18
