bokeh
email_validator
flask
flask-admin
flask-debugtoolbar
flask-login
flask-mail
flask-migrate
flask-restx
flask-sqlalchemy
flask-wtf
gunicorn
matplotlib
nltk
numpy
pandas
pandas-datareader
pillow
pydantic
pydantic-settings
pymysql
sendgrid
werkzeug
yfinance
