{% extends "base.html" %}

{% block title %}Cadams - {{ stock.symbol }} - {{ strategy }}{% endblock title %}

{% block styles %}
{{ super() }}
<link
    href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.3/bokeh.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.3/bokeh-widgets.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.3/bokeh-tables.css"
    rel="stylesheet" type="text/css">    
{% endblock styles %}

{% block content %}
{{ super() }}
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">Home</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('main.stocks') }}">Stocks</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('main.stock_page', symbol=stock.symbol) }}">{{stock.symbol}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ strategy }}</li>
    </ol>
  </nav>

  <h1>{{strategy.title()}} Strategy For {{ stock.symbol.upper() }}</h1>

  <div class="container my-5">
    {{ div|safe }}
    {{ script|safe }}
  </div>

</div>
{% endblock content %}

{% block scripts %}
{{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.3/bokeh.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.3/bokeh-widgets.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.3/bokeh-tables.js"></script>
{% endblock %}
