{% extends "base.html" %}

{% block content %}
{{ super() }}
<div class="container">
    <h1>{% if name %}Hey {{ name }}! Good to see you.{% else %}Oh hello. I don't believe we've met...{% endif %}</h1>
</div>
<div class="container">
    <form method="POST">
        {{ form.hidden_tag() }}

        {% if name %}<p class="col-form-label">Need to make any changes..?</p>
        {% else %}{{ form.name.label(class="col-form-label") }}{% endif %}{{ form.name(class='form-control') }}

        {{ form.submit(class="btn-primary")}}
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}