{% extends "base/base.html" %}

{% block title %}Cadams - {{ stock.symbol }}{% endblock title %}

{% block content %}
{{ super() }}
<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">Home</a></li>
            {% if current_user.is_authenticated %}
            <li class="breadcrumb-item"><a href="{{ url_for('trading.stocks') }}">Stocks</a></li>
            {% else %}
            <li class="breadcrumb-item"><a href="{{ url_for('trading.sample_stocks') }}">Stocks</a></li>  
            {% endif %}
          <li class="breadcrumb-item active" aria-current="page">{{ stock.symbol }}</li>
        </ol>
    </nav>

    <h1>{{ stock.name }} ({{ stock.symbol.upper() }}) Trading Stategies</h1>

    <p>Select a trading strategy</p>

    <div class="list-group">
      <a href="{{ url_for('trading.strategy_sma', symbol=stock.symbol) }}" class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Simple Moving Averages (SMA)</h5>
        </div>
        <!-- <p class="mb-1">Some placeholder content in a paragraph.</p> -->
      </a>
      <a href="{{ url_for('trading.strategy_momentum', symbol=stock.symbol) }}" class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Momentum</h5>
        </div>
        <!-- <p class="mb-1">Some placeholder content in a paragraph.</p> -->
      </a>
      <a href="{{ url_for('trading.strategy_mean_reversion', symbol=stock.symbol) }}" class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Mean Reversion</h5>
        </div>
        <!-- <p class="mb-1">Some placeholder content in a paragraph.</p> -->
      </a>
      <a href="{{ url_for('trading.strategy_ols', symbol=stock.symbol) }}" class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Ordinary Least Squares (OLS)</h5>
        </div>
        <!-- <p class="mb-1">Some placeholder content in a paragraph.</p> -->
      </a>
      <a href="#" class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Deep Learning</h5>
        </div>
        <!-- <p class="mb-1">Some placeholder content in a paragraph.</p> -->
        <small>coming soon</small>
      </a>

    </div>


</div>
{% endblock content %}