{% extends "trading/strategy_base.html" %}

{% block title %}Cadams - {{ stock.symbol }} - Simple Moving Average{% endblock title %}

{% block h1 %}
<h1>Simple Moving Average Strategy For {{ stock.symbol.upper() }}</h1>
{% endblock h1 %}

{% block custom_params %}
  <div class="row mb-3 align-items-center">
    <div class="col-sm-2">
      {{ form.fast.label(class="col-form-label") }}
    </div>
    <div class="col-auto">
      {{ form.fast(class="form-control") }}
    </div>
  </div>

  <div class="row mb-3 align-items-center">
    <div class="col-sm-2">
      {{ form.slow.label(class="col-form-label") }}
    </div>
    <div class="col-auto">
      {{ form.slow(class="form-control") }}
    </div>
    <div class="col-auto">
      <span id="fastHelp" class="form-text">
        Must be greater than fast moving average.
      </span>
    </div>
  </div>
{% endblock custom_params %}
